* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

body {
  background: rgb(169, 121, 17);
  background: linear-gradient(
    0deg,
    rgba(169, 121, 17, 1) 8%,
    rgba(236, 191, 82, 1) 56%,
    rgba(229, 208, 160, 1) 99%
  );
}

header {
  vertical-align: top;
}

main {
  padding-top: 30px;
  display: flex;
  margin: 0 auto;
  width: 940px;
}

section button {
  text-align: center;
}

p {
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 24px;
  border: solid 1px #0a3871;
  cursor: pointer;
  vertical-align: bottom;
  font-size: 20px;
  background-color: #d8dfe8;
}

button:hover {
  background-color: #add8e6;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.texto-entrada {
  padding-top: 60px;
  width: 70%;
}

.texto-entrada textarea {
  background: rgb(169, 121, 17);
  background: linear-gradient(
    0deg,
    rgba(169, 121, 17, 1) -83%,
    rgba(236, 191, 82, 1) 43%,
    rgba(229, 208, 160, 1) 113%
  );
  border: solid 1px grey;
  border-radius: 10px;
}

.msgBox {
  border-radius: 10px;
  width: 400px;
  height: 944px;
  top: 12px;
  border-radius: 32px;
  border: solid 1px grey;
  background: rgb(169, 121, 17);
  background: linear-gradient(
    0deg,
    rgba(169, 121, 17, 1) 7%,
    rgba(236, 191, 82, 1) 57%,
    rgba(229, 208, 160, 1) 104%
  );
  padding: 20px 10px;
}

.imagem {
  height: 65%;
  background-image: url(imagens/boneco.png);
  background-repeat: no-repeat;
  background-position: center;
}

textarea {
  border: none;
  width: 90%;
  height: 61vh;
}

textarea::placeholder {
  color: #0a3871;
  font-size: 32px;
}

textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.btnEncriptar {
  width: 45%;
}

.cript-encript {
  background-color: #0a3871;
  color: #fff;
}

.cript-encript:hover {
  background-color: #3f51b5;
}

.botoes {
  display: block;
}

#msgCripto {
  height: 74vh;
  background: rgb(169, 121, 17);
  background: linear-gradient(
    0deg,
    rgba(169, 121, 17, 1) -32%,
    rgba(236, 191, 82, 1) 38%,
    rgba(229, 208, 160, 1) 107%
  );
}

footer {
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    background: #e5e5e5;
  }

  textarea {
    width: 400px;
    position: relative;
    padding-right: 40px;
  }

  .texto-entrada textarea {
    background: #e5e5e5;
    border: none;
  }

  .msgBox {
    width: 595px;
    height: 64px;
    position: absolute;
    top: 780px;
    left: 52px;
    margin: 35px 0px;
    background: #fff;
    border: none;
  }

  #msgCripto {
    width: 555px;
    height: 51px;
    position: absolute;
    top: 17px;
    background: #fff;
    border: none;
  }

  .copiarTexto {
    position: relative;
    display: block;
    top: 86px;
  }

  .imagem {
    background: none;
  }

  .botoes {
    position: relative;
    right: 50px;
    bottom: 5px;
  }

  button {
    width: 100%;
    padding: 10px;
    border-radius: 24px;
    border: solid 1px #0a3871;
    cursor: pointer;
    vertical-align: bottom;
    font-size: 20px;
    background-color: #d8dfe8;
  }

  .btnEncriptar {
    width: 43%;
  }

  footer {
    position: absolute;
    bottom: -60px;
    width: 100%;
    text-align: center;
  }
}
